body,
nav,
header,
main,
section,
footer {
  box-sizing: border-box;
  height: fit-content;
  margin: 0.5rem 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid black;
}

body {
  border-color: lightblue;
}

nav {
  border-color: lightsalmon;
}

main {
  border-color: lightcoral;
}

section {
  border-color: lightgreen;
}

footer {
  border-color: lightseagreen;
}