h1 {
  text-decoration: underline;
}

header {
  h1 {
    color: #0F57A3;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center; 
    
    img {
      width: 100px;
      vertical-align: middle;
    }
  }

  nav {

    ul {
      padding: 0;
      text-align: center;

      li {
        display: inline-block;
        margin: 10px 10px;

        a {
          padding: 0.5em 2em;
          text-decoration: none;
          color: #207CA9;

          &:hover {
            color: #737870;
          }

          &:active {
            font-weight: bold;
            color: #4DC9B2;
          }
        }
      }
    }
  }
}

main {

  video, iframe {
    width: 100%;
    margin-bottom: 1em;
  }
}